

body{
    margin:0;
    padding: 0;
    background: url(images/galaxy1.jpg) center fixed no-repeat;
    background-size: cover;
}

.wrapper{
    position: relative;; 
    top:120px;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    border: 10px solid black;
    background: linear-gradient(40deg, purple 41%, blue 100%);


}

.star1{
    position: absolute;
    background-color:lightgoldenrodyellow;
    top: 40%;
    left: 40%;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    animation: stars-flash 3s ease-in infinite;

}


.rocketBody {
    position: absolute;
    width: 250px;
    height: 100px;
    background-color: silver;
    top: 30%;
    left: 10%;
    border: 2px solid black;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 10%;
    border-top-right-radius: 50%;
    transform: rotate(340deg);
    z-index: 80;
}